# Consolidated .gitignore for FullStack-ShopApp

# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
/node_modules

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*

# typescript
*.tsbuildinfo
next-env.d.ts

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# vercel
.vercel

# app-example
app-example

# testing
/coverage

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
